@import "fonts";
@import "vars";
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	border: 0;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.header {
  background-color: #fcfcfc;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
  }
  &__mobile-btn {
    display: none;
  }
}
.menu {
  width: 100%;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  padding-left: 65px;
  text-transform: uppercase;
}
.menu__btn {
  display: none;
}
.menu-list__item {
  position: relative;
}
.menu-list__item--active {
  font-family: "VisbyCF-Heavy";
  font-weight: 900;
  &::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 7px;
    opacity: 1;
    background-color: $normal;
    border-radius: 0px 0px 5px 5px;
  }
}
.menu-list__item-number {
  padding-right: 0px;
  padding-left: 145px;
  position: relative;
  &::before {
    content: "";
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
  }
}
.footer {
  padding-top: 50px;
  text-align: center;
  box-shadow: 10px -10px 30px #ececec;
}
.footer-list {
  display: flex;
  justify-content: center;
  &__item {
    padding: 30px 60px 30px 0px;
    color: #a6a6a6;
  }
}
.social {
  padding-bottom: 30px;
  &__img {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #a6a6a6;
    border-radius: 50%;
    text-align: center;
    padding-top: 3.25px;
    margin-right: 20px;
  }
}
.copyright {
  max-width: 1200px;
  padding: 11px 0px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  border-radius: 5px;
  margin: 0 auto;
  &__text {
    font-size: 14px;
    color: #a6a6a6;
    span {
      color: $text;
    }
  }
}
.breadcrumbs {
  padding: 30px 0px;
  box-shadow: 0px 3px 30px #ececec;
  &__list-item {
    display: inline-block;
    position: relative;
    padding-right: 34px;
    font-size: 16px;
    color: #878787;
    &::after {
      content: "";
      background-image: url("../images/menu-arrow.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      height: 14px;
      width: 14px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
    &:last-child{
      color: $text;
    }
    &:last-child::after{
      display: none;
    }
  }
}

.title {
  font-family: "VisbyCF-Bold";
  font-weight: 700;
  font-size: 36px;
  line-height: 1em;
  color: $text;
  text-align: center;
  text-transform: uppercase;
  padding: 90px 0px 50px;
}
.title-list {
  font-family: "VisbyCF-ExtraBold";
  font-weight: 800;
}
.blog-card {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  min-height: 330px;
  padding: 30px 30px 40px;
  box-shadow: 0px 0px 5px 2px #ececec;
  border-radius: 10px;
  transition: 0.2s;
  outline: none;
  width: 385px !important;
  cursor: pointer;
  &:hover {
    background-color: $normal;
    .link {
      color: $text;
    }
  }

  &__title {
    font-family: "VisbyCF-ExtraBold";
    font-weight: 800;
    font-size: 24px;
    max-width: 326px;
  }
  &__text {
    font-family: "VisbyCF-DemiBold";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
    max-width: 326px;
    padding: 10px 0px 40px;
  }
}
.link {
  font-family: "VisbyCF-ExtraBold";
  font-weight: 800;
  font-size: 18px;
  color: $hover;
}
.card {
  min-height: 310px;
  width: 282px;
  text-align: center;
  outline: none;
  cursor: pointer;
  &__descr {
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    max-width: 284px;
    padding: 10px 0px;
  }
  &__price-count {
    font-family: "VisbyCF-ExtraBold";
    font-weight: 800;
    font-size: 22px;
  }
  &__price-count--color {
    color: #b1b1b1;
  }
  &__img {
    display: inline-block;
  }
}
.form-title {
  font-family: "VisbyCF-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  color: $text;
  text-align: center;
  span {
    font-family: "VisbyCF-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2em;
    color: #8e8e8e;
  }
}
.scroll {
  height: 100%;
  overflow-y: auto;
  padding-right: 20px;
  scrollbar-color: #e7e7e7 #989898;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #e7e7e7;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #989898;
    border-radius: 5px;
  }
  // &__spares{
    
  // }
  // &__param{
  //   height: 100%;
  // }
}

.textbox {
  &__title {
    padding: 50px 0px;
  }
  &__text {
    padding-bottom: 115px;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6em;
  }
}

.accordion{
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  &__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      border: 1px solid #898989;
      border-radius: 3px;
      background-color: transparent;
    }
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 20px;
      width: 25px;
      background-image: url(../images/select-arrow-down.svg);
      background-size: cover;
      transition: all 0.2s;
    }
  }
  &__header[data-active='active'],
  &__header.ui-accordion-header-active{
    &::before{
      content: '';
      background-color: $normal;
      border: none;
      background-image: url(../images/confirm.svg);
      background-repeat: no-repeat;
      background-size: 12px 12px;
      background-position: center center;
    }
    &::after{
      content: '';
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &__header.ui-accordion-header-collapsed::after{
    content: '';
    transform: translateY(-50%) rotate(0deg);
  }
  &__title{
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 1em;
    color: $text;
    padding-right: 5px;
  }
  &__count{
    font-size: 14px;
    color: #8E8E8E;
  }
  &__content{
    padding: 10px 0 15px 25px;
  }
  &__input-item{
    width: 237px;
    height: 35px;
    border: 1px solid #898989;
    border-radius: 5px;
  }
  &__label{
    display: inline-block;
    margin: 5px 0;
  }
  &__radio-name{
    font-size: 14px;
    line-height: 1em;
    max-width: 206px;
    display: inline-block;
    position: relative;
    padding-left: 21px;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border: 1px solid #898989;
      border-radius: 50%;
      background-color: transparent;
    }
  }
  &__radio:checked + .accordion__radio-name::before{
    content: '';
    background-image: url(../images/radio-dot.svg);
    background-repeat: no-repeat;
    background-size: 8px 8px;
    background-position: 3px 3px;
  }
  &__radio-count{
    font-size: 12px;
    color: #8E8E8E;
  }
}