@font-face{
  font-family: 'VisbyCF-Heavy';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/VisbyCF-Heavy.woff') format('woff'), 
  url('../fonts/VisbyCF-Heavy.woff2') format('woff2');
}
@font-face{
  font-family: 'VisbyCF-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/VisbyCF-ExtraBold.woff') format('woff'), 
  url('../fonts/VisbyCF-ExtraBold.woff2') format('woff2');
}
@font-face{
  font-family: 'VisbyCF-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/VisbyCF-Bold.woff') format('woff'), 
  url('../fonts/VisbyCF-Bold.woff2') format('woff2');
}
@font-face{
  font-family: 'VisbyCF-DemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/VisbyCF-DemiBold.woff') format('woff'), 
  url('../fonts/VisbyCF-DemiBold.woff2') format('woff2');
}
@font-face{
  font-family: 'VisbyCF-Medium';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/VisbyCF-Medium.woff') format('woff'), 
  url('../fonts/VisbyCF-Medium.woff2') format('woff2');
}
@font-face{
  font-family: 'VisbyCF-Light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/VisbyCF-Light.woff') format('woff'), 
  url('../fonts/VisbyCF-Light.woff2') format('woff2');
}