@import "~normalize.css/normalize";
@import "fonts";
@import "global";
@import "vars";
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "VisbyCF-DemiBold";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2em;
  color: $text;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  background-color: #fcfcfc;
}
.menu-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 65px;
  text-transform: uppercase;
}
.menu-list__item {
  padding-right: 60px;
  position: relative;
  &:hover {
    content: "";
    font-family: "VisbyCF-Heavy";
    font-weight: 900;
    .menu-list__item--hover {
      opacity: 1;
    }
  }
  &.menu-list__item-number:hover {
    content: "";
    font-family: "VisbyCF-DemiBold";
    font-weight: 600;
  }
}
.menu-list__item--hover {
  display: inline-block;
  position: absolute;
  top: -29px;
  left: 0;
  width: calc(100% - 60px);
  height: 7px;
  transition: 0.4s;
  opacity: 0;
  background-color: $normal;
  border-radius: 0px 0px 5px 5px;
}
.menu-list__item-number {
  padding-right: 0px;
  padding-left: 180px;
  position: relative;
  &::before {
    content: "";
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 155px;
    transform: translateY(-50%);
  }
}
.search {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 665px;
  padding: 90px 0px 90px 350px;
}
.form {
  background-color: #000;
  width: 385px;
  min-height: 485px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__title {
    font-family: "VisbyCF-ExtraBold", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 1em;
    color: $normal;
    text-align: center;
    padding: 30px 0px 20px;
  }
  .select {
    margin-bottom: 15px;
  }
  &__submit {
    height: 50px;
    width: 325px;
    background-color: $normal;
    text-align: center;
    font-family: "VisbyCF-ExtraBold", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1em;
    color: $text;
    border-radius: 7px;
    text-transform: uppercase;
  }
}
.brands {
  &__text {
    max-width: 1220px;
    margin: 0 auto;
    padding: 50px 0px 90px;
  }
}
.brands-slider {
  max-width: 1200px;
  margin: 0 auto;
  &__item {
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    outline: none;
  }
}
.slider-slick-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}
.slider-slick-prev {
  background-image: url("../images/slider-arrow-prev.svg");
  left: -60px;
}
.slider-slick-next {
  background-image: url("../images/slider-arrow-next.svg");
  right: -60px;
}
.product-slider {
  max-width: 1200px;
  margin: 0 auto;
}
.product-slick-btn {
  top: 25%;
  transform: translateY(0);
}
.blog-slider {
  max-width: 1200px;
  margin: 0 auto;
}
.slick-list {
  padding: 5px 0;
}
.delivery {
  &__text {
    padding-bottom: 115px;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6em;
  }
  &__info {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__card {
    display: inline-block;
    min-height: 80px;
    width: 280px;
    margin-right: 15px;
    padding-bottom: 90px;
  }
  &__card-icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: $normal;
    padding: 25px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  &__card-text {
    display: inline-block;
    font-size: 14px;
    width: 185px;
    // padding: 0 0 0 10px;
  }
  &__card-title {
    font-family: "VisbyCF-ExtraBold";
    font-weight: 800;
    text-transform: uppercase;
  }
  &__card-subtitle {
    color: #b1b1b1;
  }
}
.footer {
  padding-top: 50px;
  text-align: center;
  box-shadow: 10px -10px 30px #ececec;
}
.footer-list {
  display: flex;
  justify-content: center;
  &__item {
    padding: 30px 60px 30px 0px;
    color: #a6a6a6;
  }
}
.social {
  padding-bottom: 30px;
  &__img {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #a6a6a6;
    border-radius: 50%;
    text-align: center;
    padding-top: 3.25px;
    margin-right: 20px;
  }
}
.copyright {
  max-width: 1200px;
  padding: 11px 0px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  border-radius: 5px;
  margin: 0 auto;
  &__text {
    font-size: 14px;
    color: #a6a6a6;
    span {
      color: $text;
    }
  }
}
.aside {
  // padding-left: 130px;
  width: 285px;
  display: inline-block;
}
.form-spares {
  padding-bottom: 20px;
  &__input-title {
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
  }
  &__input-text {
    margin-bottom: 20px;
  }
  &__input-item {
    height: 40px;
    width: 257px;
    border: 1px solid #898989;
    border-radius: 5px;
  }
  &__header-radio {
    position: absolute;
    left: -9999px;
    &[checked] + .form-spares__header-item::before,
    &:checked + .form-spares__header-item::before {
      border-color: $normal;
      background-color: $normal;
      background-image: url("../images/confirm.svg");
      background-repeat: no-repeat;
      background-size: 12px 10px;
      background-position: center center;
    }
  }
  &__header-item {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -5px;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 1px solid #898989;
      border-radius: 3px;
    }
  }
  &__select {
    height: auto;
    width: 257px;
    margin-left: 5px;
  }
  &__select-header {
    padding: 10px 0px 10px 25px;
  }
  &__select-icon {
    width: 16px;
    height: auto;
  }
  &__select-items {
    background-color: #fff;
    padding-bottom: 20px;
    position: static;
  }
  &__option {
    padding-left: 30px;
  }
  &__option-input {
    padding-left: 15px;
  }
  &__select-item {
    width: auto;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -5px;
      transform: translateY(-50%);
      height: 16px;
      width: 16px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #898989;
    }
  }
  &__input-radio {
    position: absolute;
    left: -9999px;
    &:checked + .form-spares__select-item::before {
      border-color: $text;
      background-image: url("../images/radio-dot.svg");
      background-repeat: no-repeat;
      background-size: 10px 10px;
      background-position: center center;
    }

  }
  &__submit {
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    background-color: $normal;
    text-transform: uppercase;
    font-family: "VisbyCF-ExtraBold";
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: $text;
    outline: none;
  }
  &__reset {
    border: none;
    background-color: transparent;
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: $text;
    width: 100%;
    padding-top: 10px;
    outline: none;
  }
}
.selection-box {
  position: relative;
  height: 430px;
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
  &__title {
    font-family: "VisbyCF-Bold";
    padding: 60px 0px 30px;
    text-transform: uppercase;
  }
  &__title-param {
    font-size: 16px;
  }
}
.selection-box__param {
  height: 320px;
  &:after {
    content: none;
  }
}
.selection-box__range {
  height: auto;
  &:after {
    content: none;
  }
}
.tags {
  &__title {
    font-family: "VisbyCF-ExtraBold";
    font-weight: 700;
    font-size: 14px;
    color: #717171;
    padding: 20px 0px 10px;
    text-transform: uppercase;
  }
  &__item {
    display: inline-block;
    border: 0.5px solid #b1b1b1;
    border-radius: 3px;
    font-family: "VisbyCF-Light";
    font-weight: 300;
    font-size: 12px;
    padding: 0px 5px 3px;
  }
}
.tags--mobile{
  display: none;
}
.content {
  display: inline-block;
  vertical-align: top;
  margin-left: 23px;
  // padding: 0px 0px 0px 30px;
  max-width: 906px;
  // width: 68.75%;
  &__aside-btn--mobile{
    display: none;
  }
  &__card {
    display: inline-block;
    width: 282px;
    margin: 30px 0 30px 0px;
    // margin: 30px 30px 30px 0px;
    position: relative;
    &:nth-child(3n+3){
      margin-right: 24px;
      margin-left: 24px;
    }
    &:hover{
      .content__card-btn{
        z-index: 10;
        opacity: 1;
      }
    }
  }
  &__card-descr {
    max-width: 286px;
  }
  &__card-btn{
    display: block;
    margin-top: 30px;
    border: none;
    border-radius: 7px;
    outline: none;
    background-color: $normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    height: 43px;
    width: 125px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
  }

}
.content__review {
  position: relative;
  padding: 14px 20px;
  margin: 60px 0px 30px;
  background-color: #fff;
  box-shadow: 0px 3px 30px #ececec;
  &-title {
    text-transform: uppercase;
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    display: inline;
  }
  &-label {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: 20px;
  }
  &-btn {
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    background-image: url("../images/review-btn.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    right: 15px;
  }
}
.content__review-radio {
  position: absolute;
  left: -9999px;
  &:checked + .content__review-label {
    svg {
      fill-opacity: 1;
    }
  }
}
.filter {
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  width: 207px;
  background-color: #fff;
  padding: 20px 20px 5px;
  z-index: 10;
  &__list-item {
    padding-bottom: 15px;
  }
}
.content__label {
  &-list {
    svg {
      fill-opacity: 0.5;
    }
  }
  &-card {
    svg {
      fill-opacity: 0.5;
    }
  }
}
.card-list {
  width: 100%;
  min-height: auto;
  text-align: left;
  &:nth-child(3n+3){
    margin-right: 0px;
    margin-left: 0px;
  }
  &__descr {
    display: inline-block;
    vertical-align: top;
    max-width: 386px;
    padding: 0;
    margin-left: 20px;
  }
  &__subdescr {
    display: block;
    font-family: "VisbyCF-Medium";
    font-weight: 500;
    font-size: 16px;
    color: #717171;
    padding-top: 20px;
  }
  &__subdescr--color {
    font-family: "VisbyCF-DemiBold";
    font-weight: 600;
    color: $text;
  }
  &__price {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
  }
  &__btn {
    display: block;
    margin-top: 30px;
    border: none;
    border-radius: 7px;
    outline: none;
    background-color: $normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    height: 43px;
    width: 125px;
  }
}
.page-number {
  font-size: 30px;
  color: #878787;
  text-transform: uppercase;
  text-align: center;
  &__arrow-btn {
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: center center;
    height: 24px;
    width: 24px;
  }
  &__arrow-prev {
    background-image: url("../images/page-number-arrow-prev.svg");
    margin-right: 40px;
  }
  &__arrow-next {
    background-image: url("../images/page-number-arrow-next.svg");
    margin-right: 70px;
  }
  &__list {
    display: inline-block;
    padding-top: 60px;
  }
  &__list-item {
    display: inline-block;
    padding: 0px 40px 0px 0px;
  }
}
.form-contact{
  display: inline-block;
  padding: 60px 0px;
  width: 806px;
  &__items{
    text-align: right;
  }
  &__title{
    font-family: 'VisbyCF-Bold';
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }
  &__text{
    font-size: 18px;
    line-height: 1.5em;
    width: 802px;
    padding-top: 30px;
  }
  &__input-item{
    display: inline-block;
    border: 1px solid #898989;
    border-radius: 7px;
    width: 385px;
    height: 50px;
    margin: 30px 30px 30px 0px;
    color: #898989;
    padding-left: 20px;
    &:nth-child(1){
      margin-bottom: 0px;
    }
    &:nth-child(2){
      margin-bottom: 0px;
    }
    &:nth-child(even){
      margin-right: 0px;
    }
  }
  &__input-message{
    width: 100%;
    height: 120px;
    padding-bottom: 84px;
    margin-top: 0px;
  }
  &__input-submit{
    border: none;
    border-radius: 7px;
    background-color: $normal;
    text-transform: uppercase;
    font-family: 'VisbyCF-ExtraBold';
    font-weight: 800;
    font-size: 18px;
    height: 50px;
    width: 282px;
  }
}
.contacts{
  display: inline-block;
  vertical-align: top;
  width: 385px;
  padding: 210px 0px 0px 60px;
  &__item{
    padding-bottom: 28px;
  }
  &__title{
    position: relative;
    font-family: 'VisbyCF-ExtraBold';
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 10px;
  }
  &__title-address{
    &::before{
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      top: 0;
      left: -30px;
      background-image: url('../images/placeholder.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }    
    & + span{
      display: block;
    }
  }
  &__title-number{
    &::before{
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      top: 0;
      left: -30px;
      background-image: url('../images/phone.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__title-email{
    &::before{
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      top: 0;
      left: -30px;
      background-image: url('../images/mail.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__text{
    display: inline-block;
    padding-bottom: 5px;
    min-width: 155px;
  }
  &__social-items{
    display: inline-block;
    line-height: 0;
  }
  &__social-item{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
}
.location{
  width: 100%;
  height: 500px;
  background-image: url('../images/map.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.blog{
  &__content{
    padding: 60px 0px;
  }
  &__blog-card{
    margin-bottom: 30px;
    margin-right: 17px;
    box-shadow: 0px 10px 30px #ECECEC;
  }
  &__page-number{
    display: none;
  }
}
.about{
  &__content{
    padding: 60px 0px 40px;
  }
  &__title{
    font-family: 'VisbyCF-ExtraBold';
    font-weight: 800;
    font-size: 24px;
  }
  &__text{
    padding: 20px 0px 0px;
    font-size: 16px;
  }
  &__list{
    padding: 30px 0px;
    border-bottom: 1px solid #E7E7E7;
  }
  &__list-item{
    font-size: 16px;
    padding: 10px 0px 10px 20px;
    position: relative;
    &::before{
      content: '';
      height: 10px;
      width: 10px;
      border: none;
      border-radius: 50%;
      background-color: $normal;
      position: absolute;
      top: 17px;
      left: 0;
    }
  }
  &__column-list{
    padding: 40px 0px;
  }
}
.column-list{
  &__column{
    display: inline-block;
    vertical-align: text-top;
    max-width: 574px;
  }
}

@import 'media';