@media (max-width: 376px) {
  .form-contact{
    padding: 30px 0px;
    width: 335px;
    &__items{
      padding-top: 15px;
      text-align: right;
    }
    &__text{
      font-size: 16px;
      line-height: 1.5em;
      width: 335px;
      padding-top: 20px;
    }
    &__input-item{
      border: 1px solid #898989;
      border-radius: 7px;
      width: 335px;
      margin: 5px 0px 5px 0px;
      &:nth-child(1),
      &:nth-child(2){
        margin-bottom: 5px;
      }
      &:nth-child(even){
        margin-right: 0px;
      }
    }
    &__input-message{
      width: 100%;
      height: 120px;
      padding-bottom: 84px;
      margin: 5px 0px 10px;
    }
    &__input-submit{
      height: 50px;
      width: 335px;
    }
  }
  .contacts{
    width: 278px;
    padding: 30px 0px 0px 32px;
    &__text{
      padding: 0px 5px 5px 0px;
      min-width: 155px;
    }
    &__social-item{
      height: 18px;
      width: 18px;
      margin-right: 5px;
    }
  }
  .location{
    background-image: url('../images/map-mobile.png');
  }
}