@media (max-width: 1300px){
  .slider-slick-prev {
    left: 0;
  }

  .slider-slick-next{
    right: 0;
  }

  .product-slick-btn,
  .blog-slick-btn {
    top: -11%;
  }

}

@media (max-width: 1200px) {
  .menu-list {
    padding-left: 45px;
  }

  .search {
    padding: 90px 10px 350px;
  }

  .form{
    margin: 0 auto;
  }

  .delivery{
    &__card{
      flex-basis: 33%;
      margin: 0 10px 15px 0;
    }
  }
}

@media (max-width: 970px) {
  .menu-list__item-number {
    margin-left: 100px;
  }
}

@media (max-width: 920px) {
  .menu-list__item-number {
    margin-left: 0;
  }
}

@media (max-width: 850px) {
  .menu-list {
    padding-left: 15px;
  }

  .menu-list__item-number {
    margin-left: 0;
    padding-left: 20px;
  }

  .delivery{
    &__card{
      flex-basis: 32.9%;
      text-align: center;
    }
    &__text{
      padding-bottom: 90px;
    }
  }
}

@media (max-width: 800px) {
  .header {
    &__wrapper{
      justify-content: space-around;
    }
    &__btn-box {
      display: flex;
    }
  }

  .menu--mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 9999px;
    width: 250px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 5px 0 15px 0px rgba(#000, 0.5);
  }

  .menu-list--mobile{
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    padding-right: 30px;
    background-color: #fcfcfc;
    position: relative;
  }

  .menu-list__item--active::after{
    top: 20px;
    border-radius: 5px;
  }

  .menu-list__item-number {
    padding-left: 25px;
  }

  .menu__btn--mobile{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .blog-slick-btn {
    top: 25%;
  }
}

@media (max-width: 768px) {
  .title{
    padding: 70px 0 40px;
  }
  .brands{
    &__text{
      padding: 50px 0 60px;
    }
  }
}

@media (max-width: 700px) {
  .footer-list {
    &__wrapper{
      flex-direction: column;
      justify-content: space-between;
    }
    &__item{
     padding: 2.5px; 
     flex-basis: 40%;
    }
  }
}

@media (max-width: 620px) {
  .title{
    padding: 50px 0 30px;
  }
  .brands{
    &__text{
      padding: 40px 0 50px;
    }
  }
}

@media (max-width: 608px) {
  .product-slick-btn {
    top: 25%;
  }
}

@media (max-width: 465px) {
  .blog-slick-btn {
    top: 0%;
  }
}

@media (max-width: 420px) {
  .form{
    width: 310px;
    &__submit {
      width: 260px;
    }
  }
  .select{
    width: 260px;
    &__item{
      width: 260px;
    }
  }

  .blog-slider {
    .blog-card{
      width: 300px !important;
    }
  }

  .delivery{
    &__info{
      flex-direction: column;
      padding-bottom: 70px;
    }
    &__card{
      flex-basis: 100%;
      width: 100%;
    }
    &__card-text{
      display: block;
      width: 100%;
      padding-top: 10px;
    }
    &__text{
      padding-bottom: 70px;
    }
  }
}

@media (max-width: 400px) {
  .product-slick-btn {
    top: -11%;
  }
}

@media (max-width: 360px) {
  .form{
    width: 300px
  }
}
// @media (max-width: 376px) {
//   .wrapper {
//     max-width: 335px;
//   }
//   .wrapper--reverse {
//     display: flex;
//     flex-direction: column-reverse;
//   }
//   .title {
//     padding: 30px 0px 20px;
//     font-size: 24px;
//   }
//   .breadcrumbs {
//     max-width: 100%;
//     padding: 23px 20px;
//     &__list {
//       width: 100%;
//     }
//     &__list-item {
//       font-size: 12px;
//     }
//   }
//   // .header {
//   //   // padding: 15px 20px;
//   //   justify-content: space-between;
//   // }
//   // .menu {
//   //   position: absolute;
//   //   top: -100px;
//   //   left: 0;
//   //   background-color: #fff;
//   //   z-index: 20;
//   //   transition: 0.3s;
//   // }
//   // .menu__btn--mobile {
//   //   display: inline-block;
//   //   position: absolute;
//   //   top: 5;
//   //   right: 5px;
//   //   height: 30px;
//   //   width: 30px;
//   //   background-image: url("../images/menu-close.svg");
//   //   background-repeat: no-repeat;
//   //   background-size: 20px 20px;
//   //   background-position: center center;
//   //   background-color: $normal;
//   //   border: none;
//   //   border-radius: 7px;
//   //   z-index: 11;
//   // }
//   // .menu-list {
//   //   flex-wrap: wrap;
//   //   padding-left: 0px;
//   //   padding: 10px 0px 0px 10px;
//   //   position: relative;
//   // }
//   // .menu-list__item {
//   //   padding: 0px 20px 10px 0px;
//   //   position: relative;
//   // }
//   // .menu-list__item--hover {
//   //   top: -10px;
//   //   left: 0;
//   //   width: calc(100% - 20px);
//   // }
//   // .menu-list__item-number {
//   //   display: none;
//   // }
//   .search {
//     padding: 0;
//     background-image: none;
//     min-height: auto;
//   }
//   .form {
//     margin: 0 auto;
//     width: 335px;
//     min-height: 430px;
//     &__title {
//       font-size: 22px;
//     }
//     .select {
//       margin-bottom: 10px;
//       width: 275px;
//       height: 45px;
//       font-size: 16px;
//     }
//     &__submit {
//       height: 45px;
//       width: 275px;
//     }
//   }
//   .brands {
//     &__text {
//       padding: 0px 0px 30px;
//       font-size: 14px;
//     }
//   }
//   .brands-slider {
//     &__item {
//       height: 80px;
//     }
//   }
//   .slider-slick-btn {
//     width: 20px;
//     height: 20px;
//   }
//   .slider-slick-prev {
//     left: -20px;
//   }
//   .slider-slick-next {
//     right: -20px;
//   }
//   .card-product__img {
//     margin: 0 auto;
//   }
//   .card-product__descr {
//     margin: 0 auto;
//   }
//   .delivery {
//     &__text {
//       padding-bottom: 30px;
//       line-height: 1.6em;
//     }
//     &__text-inner {
//       font-size: 14px;
//     }
//     &__card {
//       padding-bottom: 20px;
//     }
//     .link {
//       font-size: 16px;
//     }
//   }
//   // .footer {
//   //   padding-top: 30px;
//   // }
//   // .footer-list {
//   //   display: flex;
//   //   flex-direction: column;
//   //   flex-wrap: wrap;
//   //   width: 255px;
//   //   height: 121px;
//   //   margin: 0 auto;
//   //   justify-content: space-between;
//   //   align-items: center;
//   //   margin-top: 20px;
//   //   &__item {
//   //     padding: 0px 0px 8px;
//   //     color: #a6a6a6;
//   //     &:nth-child(4n) {
//   //       padding: 0;
//   //     }
//   //   }
//   //   &__link {
//   //     font-size: 16px;
//   //   }
//   // }
//   // .social {
//   //   padding: 20px 0px;
//   // }
// }

@import "spares-media";
@import "contacts-media";
@import "blog-media";
@import "about-media";
