@media (max-width: 1220px){
  .menu-list__item {
    padding-right: 10px;
  }
}



@media (max-width: 376px) {
  .wrapper {
    max-width: 335px;
  }
  .wrapper--reverse{
    display: flex;
    flex-direction: column-reverse;
  }
  .title {
    padding: 30px 0px 20px;
    font-size: 24px;
  }
  .map {
    max-width: 100%;
    padding: 23px 20px;
    &__list {
      width: 100%;
    }
    &__list-item {
      font-size: 12px;
    }
  }
  .header {
    padding: 15px 20px;
    justify-content: space-between;
  }
  .header__mobile-btn {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid $text;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .header__tel-btn {
    background-image: url("../images/phone.svg");
    background-size: 20px 20px;
    margin-right: 10px;
  }
  .header__menu-btn {
    background-image: url("../images/menu-burger.svg");
    background-size: 24px 24px;
  }
  .menu {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #fff;
    z-index: 20;
    transition: 0.3s;
  }
  .menu__btn--mobile{
    display: inline-block;
    position: absolute;
    top: 5;
    right: 5px;
    height: 30px;
    width: 30px;
    background-image: url("../images/menu-close.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    background-color: $normal;
    border: none;
    border-radius: 7px;
    z-index: 11;
  }
  .menu-list {
    flex-wrap: wrap;
    padding-left: 0px;
    padding: 10px 0px 0px 10px;
    position: relative;
  }
  .menu-list__item {
    padding: 0px 20px 10px 0px;
    position: relative;
  }
  .menu-list__item--hover {
    top: -10px;
    left: 0;
    width: calc(100% - 20px);
  }
  .menu-list__item-number {
    display: none
  }
  .search {
    padding: 0;
    background-image: none;
    min-height: auto;
  }
  .form {
    margin: 0 auto;
    width: 335px;
    min-height: 430px;
    &__title {
      font-size: 22px;
    }
    .select {
      margin-bottom: 10px;
      width: 275px;
      height: 45px;
      font-size: 16px;
    }
    &__submit {
      height: 45px;
      width: 275px;
    }
  }
  .brands {
    &__text {
      padding: 0px 0px 30px;
      font-size: 14px;
    }
  }
  .brands-slider {
    &__item {
      height: 80px;
    }
  }
  .slider-slick-btn {
    width: 20px;
    height: 20px;
  }
  .slider-slick-prev {
    left: -20px;
  }
  .slider-slick-next {
    right: -20px;
  }
  .card-product__img {
    margin: 0 auto;
  }
  .card-product__descr {
    margin: 0 auto;
  }
  .blog {
    .blog-card {
      margin: 0;
      box-shadow: 0px 10px 30px #ececec;
    }
    .blog-card__text {
      font-size: 14px;
    }
  }
  .delivery {
    &__text {
      padding-bottom: 30px;
      line-height: 1.6em;
    }
    &__text-inner {
      font-size: 14px;
    }
    &__card {
      padding-bottom: 20px;
    }
    .link {
      font-size: 16px;
    }
  }
  .footer {
    padding-top: 30px;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 255px;
    height: 121px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    &__item {
      padding: 0px 0px 8px;
      color: #a6a6a6;
      &:nth-child(4n) {
        padding: 0;
      }
    }
    &__link {
      font-size: 16px;
    }
  }
  .social {
    padding: 20px 0px;
  }
  .aside {
    // display: none;
    position: fixed;
    top: 0;
    left: -360px;
    width: 322px;
    height: 100%;
    z-index: 29;
    background-color: #fff;
    overflow-y: scroll;
    padding: 0 20px;
    box-shadow: 0px 4px 4px #ececec;
    transition: 0.3s;
  }
  .aside__menu-btn--mobile {
    display: inline-block;
    position: fixed;
    top: 0;
    right: -100px;
    height: 40px;
    width: 40px;
    background-image: url("../images/menu-close.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
    background-color: $normal;
    border: none;
    border-radius: 7px;
    transition: 0.3s;
    z-index: 30;
  }
  .form-spares {
    position: relative;
    &__wrapper-btn--mobile {
      position: fixed;
      bottom: 0;
      width: 322px;
      height: 70px;
      background-color: #fff;
      padding: 10px 0px;
    }
    &__submit {
      display: inline-block;
      vertical-align: bottom;
      width: 202px;
      height: 50px;
      font-size: 18px;
    }
    &__reset {
      background-image: url("../images/reset-trash.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center center;
      height: 50px;
      width: 50px;
      font-size: 0;
      background-color: #b1b1b1;
      border-radius: 7px;
      text-align: center;
      padding-top: 0px;
    }
  }
  .selection-box {
    &__title {
      padding: 20px 0px 30px;
      font-size: 18px;
    }
  }
  .tags {
    display: none;
  }
  .tags--mobile{
    display: inline-block;
    &__title {
      padding: 30px 0px 10px;
    }
    &__item {
      padding: 0px 5px 5px;
    }
  }
  .filter{
    font-size: 16px;
  }
  .content {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
  }
  .content__aside-btn--mobile {
    display: inline-block;
    height: 40px;
    width: 158px;
    text-transform: uppercase;
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    font-size: 16px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 3px 30px #ececec;
    margin-right: 35px;
  }
  .content__review {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0;
    margin: 30px 0px;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    height: 40px;
    &-title {
      display: none;
    }
    &-label {
      height: 40px;
      width: 40px;
      display: inline-block;
      margin-left: 10px;
      padding: 10px 10px;
      box-shadow: 0px 3px 30px #ececec;
    }
    &-btn {
      height: 40px;
      width: 40px;
      background-color: transparent;
      background-size: 20px 20px;
      background-position: center center;
      position: static;
      box-shadow: 0px 3px 30px #ececec;
    }
  }
  .page-number {
    position: relative;
    font-size: 20px;
    &__list {
      padding: 30px 0px;
    }
    &__list-item {
      padding: 0px 30px 0px 0px;
      &:last-child {
        padding: 0;
      }
    }
    &__arrow-btn {
      position: absolute;
      top: 33px;
      height: 18px;
      width: 18px;
      margin-right: 0;
    }
    &__arrow-prev {
      left: -35px;
    }
    &__arrow-next {
      right: -35px;
    }
    &__count {
      display: block;
    }
  }
  .card-list {
    .card__img {
      height: 78px;
      width: 100px;
    }
    &__descr {
      max-width: 225px;
      margin-left: 0px;
      padding-left: 7px;
      font-size: 16px;
      color: #717171;
    }
    &__subdescr {
      font-size: 12px;
      padding-top: 10px;
      &:nth-child(2) {
        font-size: 14px;
      }
    }
    &__price {
      padding-top: 10px;
      padding-left: 0px;
      margin-left: 110px;
    }
    &__btn {
      height: 34px;
      width: 113px;
      margin-top: 10px;
      font-size: 12px;
    }
  }
  .form-contact{
    padding: 30px 0px;
    width: 335px;
    &__items{
      padding-top: 15px;
      text-align: right;
    }
    &__text{
      font-size: 16px;
      line-height: 1.5em;
      width: 335px;
      padding-top: 20px;
    }
    &__input-item{
      border: 1px solid #898989;
      border-radius: 7px;
      width: 335px;
      margin: 5px 0px 5px 0px;
      &:nth-child(1),
      &:nth-child(2){
        margin-bottom: 5px;
      }
      &:nth-child(even){
        margin-right: 0px;
      }
    }
    &__input-message{
      width: 100%;
      height: 120px;
      padding-bottom: 84px;
      margin: 5px 0px 10px;
    }
    &__input-submit{
      height: 50px;
      width: 335px;
    }
  }
  .contacts{
    width: 278px;
    padding: 30px 0px 0px 32px;
    &__text{
      padding: 0px 5px 5px 0px;
      min-width: 155px;
    }
    &__social-item{
      height: 18px;
      width: 18px;
      margin-right: 5px;
    }
  }
  .location{
    background-image: url('../images/map-mobile.png');
  }
  .blog{
    &__content{
      padding: 30px 0px 0px;
    }
    &__blog-card{
      margin-bottom: 30px;
      margin-right: 0px;
      box-shadow: 0px 10px 30px #ECECEC;
    }
    &__page-number--mobile{
      display: block;
      .page-number__list {
        padding: 0px 0px 30px;
      }
      .page-number__list-item {
        padding: 0px 20px 0px 0px;
      }
      .page-number__arrow-btn {
        top: 3px;
      }
      .page-number__arrow-prev {
        left: 0px;
      }
      .page-number__arrow-next {
        right: 0px;
      }
    }
  }
  .about{
    &__content{
      padding: 30px 0px 30px;
    }
    &__text{
      padding: 20px 0px 0px;
      font-size: 14px;
    }
    &__list-item{
      font-size: 14px;
      padding: 5px 0px 5px 20px;
    }
    &__column-list{
      padding: 30px 0px 0px;
    }
  }
}
