@media (max-width: 376px) {
  .aside {
    // display: none;
    position: fixed;
    top: 0;
    left: -360px;
    width: 322px;
    height: 100%;
    z-index: 29;
    background-color: #fff;
    overflow-y: scroll;
    padding: 0 20px;
    box-shadow: 0px 4px 4px #ececec;
    transition: 0.3s;
  }
  .aside__menu-btn--mobile {
    display: inline-block;
    position: fixed;
    top: 0;
    right: -100px;
    height: 40px;
    width: 40px;
    background-image: url("../images/menu-close.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
    background-color: $normal;
    border: none;
    border-radius: 7px;
    transition: 0.3s;
    z-index: 30;
  }
  .form-spares {
    position: relative;
    &__wrapper-btn--mobile {
      position: fixed;
      bottom: 0;
      width: 322px;
      height: 70px;
      background-color: #fff;
      padding: 10px 0px;
    }
    &__submit {
      display: inline-block;
      vertical-align: bottom;
      width: 202px;
      height: 50px;
      font-size: 18px;
    }
    &__reset {
      background-image: url("../images/reset-trash.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center center;
      height: 50px;
      width: 50px;
      font-size: 0;
      background-color: #b1b1b1;
      border-radius: 7px;
      text-align: center;
      padding-top: 0px;
    }
  }
  .selection-box {
    &__title {
      padding: 20px 0px 30px;
      font-size: 18px;
    }
  }
  .tags {
    display: none;
  }
  .tags--mobile{
    display: inline-block;
    &__title {
      padding: 30px 0px 10px;
    }
    &__item {
      padding: 0px 5px 5px;
    }
  }
  .filter{
    font-size: 16px;
  }
  .content {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
  }
  .content__aside-btn--mobile {
    display: inline-block;
    height: 40px;
    width: 158px;
    text-transform: uppercase;
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    font-size: 16px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 3px 30px #ececec;
    margin-right: 35px;
  }
  .content__review {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0;
    margin: 30px 0px;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    height: 40px;
    &-title {
      display: none;
    }
    &-label {
      height: 40px;
      width: 40px;
      display: inline-block;
      margin-left: 10px;
      padding: 10px 10px;
      box-shadow: 0px 3px 30px #ececec;
    }
    &-btn {
      height: 40px;
      width: 40px;
      background-color: transparent;
      background-size: 20px 20px;
      background-position: center center;
      position: static;
      box-shadow: 0px 3px 30px #ececec;
    }
  }
  .page-number {
    position: relative;
    font-size: 20px;
    &__list {
      padding: 30px 0px;
    }
    &__list-item {
      padding: 0px 30px 0px 0px;
      &:last-child {
        padding: 0;
      }
    }
    &__arrow-btn {
      position: absolute;
      top: 33px;
      height: 18px;
      width: 18px;
      margin-right: 0;
    }
    &__arrow-prev {
      left: -35px;
    }
    &__arrow-next {
      right: -35px;
    }
    &__count {
      display: block;
    }
  }
  .card-list {
    .card__img {
      height: 78px;
      width: 100px;
    }
    &__descr {
      max-width: 225px;
      margin-left: 0px;
      padding-left: 7px;
      font-size: 16px;
      color: #717171;
    }
    &__subdescr {
      font-size: 12px;
      padding-top: 10px;
      &:nth-child(2) {
        font-size: 14px;
      }
    }
    &__price {
      padding-top: 10px;
      padding-left: 0px;
      margin-left: 110px;
    }
    &__btn {
      height: 34px;
      width: 113px;
      margin-top: 10px;
      font-size: 12px;
    }
  }
}