.aside {
  width: 285px;
  display: inline-block;
}

.form-spares {
  padding-bottom: 20px;
  &__input-title {
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
  }
  &__input-text {
    margin-bottom: 20px;
  }
  &__input-item {
    height: 40px;
    width: 257px;
    border: 1px solid #898989;
    border-radius: 5px;
  }
  &__submit{
    display: block;
    height: 50px;
    width: 282px;
    border: none;
    border-radius: 7px;
    background-color: $normal;
    font-family: 'VisbyCF-ExtraBold';
    font-size: 20px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 10px;
    cursor: pointer;
  }
  &__reset{
    display: block;
    margin: 0 auto;
    font-family: 'VisbyCF-Bold';
    font-size: 18px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.selection-box {
  position: relative;
  height: 435px;
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
  &__title {
    font-family: "VisbyCF-Bold";
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 15px;
  }
  &__title-head{
    font-size: 18px;
    padding: 60px 0px 30px;
  }
}

.selection-box__param {
  height: 291px;
}

.selection-box__range {
  height: auto;
}

.selection-box__range--last::after {
  display: none;
}

.tags {
  &__title {
    font-family: "VisbyCF-ExtraBold";
    font-weight: 700;
    font-size: 14px;
    color: #717171;
    padding: 20px 0px 10px;
    text-transform: uppercase;
  }
  &__item {
    display: inline-block;
    border: 0.5px solid #b1b1b1;
    border-radius: 3px;
    font-family: "VisbyCF-Light";
    font-weight: 300;
    font-size: 12px;
    padding: 0px 5px 3px;
  }
}
.tags--mobile {
  display: none;
}
.content {
  display: inline-block;
  vertical-align: top;
  margin-left: 23px;
  max-width: 906px;
  &__aside-btn--mobile {
    display: none;
  }
  &__card {
    display: inline-block;
    width: 282px;
    margin: 30px 0 30px 0px;
    position: relative;
    &:nth-child(3n + 3) {
      margin-right: 24px;
      margin-left: 24px;
    }
    &:hover {
      .content__card-btn {
        z-index: 10;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  &__card-descr {
    max-width: 286px;
  }
  &__card-btn {
    display: block;
    margin-top: 30px;
    border: none;
    border-radius: 7px;
    outline: none;
    background-color: $normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    height: 43px;
    width: 125px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
  }
}
.content__review {
  position: relative;
  padding: 14px 20px;
  margin: 60px 0px 30px;
  background-color: #fff;
  box-shadow: 0px 3px 30px #ececec;
  &-title {
    text-transform: uppercase;
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    display: inline;
  }
  &-label {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
  }
  &-btn {
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    background-image: url("../images/review-btn.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
}
.aside__menu-btn--mobile {
  display: none;
}
.content__review-radio {
  position: absolute;
  left: -9999px;
  &:checked + .content__review-label {
    svg {
      fill-opacity: 1;
    }
  }
}
.filter {
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  width: 207px;
  background-color: #fff;
  padding: 20px 20px 5px;
  z-index: 10;
  &__list-item {
    padding-bottom: 15px;
  }
}
.content__label {
  &-list {
    svg {
      fill-opacity: 0.5;
    }
  }
  &-card {
    svg {
      fill-opacity: 0.5;
    }
  }
}
.card-list {
  width: 100%;
  min-height: auto;
  text-align: left;
  &:nth-child(3n + 3) {
    margin-right: 0px;
    margin-left: 0px;
  }
  &__descr {
    display: inline-block;
    vertical-align: top;
    max-width: 386px;
    padding: 0;
    margin-left: 20px;
  }
  &__subdescr {
    display: block;
    font-family: "VisbyCF-Medium";
    font-weight: 500;
    font-size: 16px;
    color: #717171;
    padding-top: 20px;
  }
  &__subdescr--color {
    font-family: "VisbyCF-DemiBold";
    font-weight: 600;
    color: $text;
  }
  &__price {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
  }
  &__btn {
    display: block;
    margin-top: 30px;
    border: none;
    border-radius: 7px;
    outline: none;
    background-color: $normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    height: 43px;
    width: 125px;
  }
}
.page-number {
  font-size: 30px;
  color: #878787;
  text-transform: uppercase;
  text-align: center;
  &__arrow-btn {
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: center center;
    height: 24px;
    width: 24px;
  }
  &__arrow-prev {
    background-image: url("../images/page-number-arrow-prev.svg");
    margin-right: 40px;
  }
  &__arrow-next {
    background-image: url("../images/page-number-arrow-next.svg");
    margin-right: 70px;
  }
  &__list {
    display: inline-block;
    padding-top: 60px;
  }
  &__list-item {
    display: inline-block;
    padding: 0px 40px 0px 0px;
  }
}

.accordion{
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  &__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      border: 1px solid #898989;
      border-radius: 3px;
      background-color: transparent;
    }
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 20px;
      width: 25px;
      background-image: url(../images/select-arrow-down.svg);
      background-size: cover;
      transition: all 0.2s;
    }
  }
  &__header[data-active='active'],
  &__header.ui-accordion-header-active{
    &::before{
      content: '';
      background-color: $normal;
      border: none;
      background-image: url(../images/confirm.svg);
      background-repeat: no-repeat;
      background-size: 12px 12px;
      background-position: center center;
    }
    &::after{
      content: '';
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &__header.ui-accordion-header-collapsed::after{
    content: '';
    transform: translateY(-50%) rotate(0deg);
  }
  &__title{
    font-family: "VisbyCF-Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 1em;
    color: $text;
    padding-right: 5px;
  }
  &__count{
    font-size: 14px;
    color: #8E8E8E;
  }
  &__content{
    padding: 10px 0 15px 25px;
  }
  &__input-item{
    width: 237px;
    height: 35px;
    border: 1px solid #898989;
    border-radius: 5px;
  }
  &__label{
    display: inline-block;
    margin: 5px 0;
  }
  &__radio-name{
    font-size: 14px;
    line-height: 1em;
    max-width: 206px;
    display: inline-block;
    position: relative;
    padding-left: 21px;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border: 1px solid #898989;
      border-radius: 50%;
      background-color: transparent;
    }
  }
  &__radio:checked + .accordion__radio-name::before{
    content: '';
    background-image: url(../images/radio-dot.svg);
    background-repeat: no-repeat;
    background-size: 8px 8px;
    background-position: 3px 3px;
  }
  &__radio-count{
    font-size: 12px;
    color: #8E8E8E;
  }
}

.slider{
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #E7E7E7;
  position: relative;
  cursor: pointer;
  &__handle{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    height: 15px;
    width: 15px;
    border: 3px solid $normal;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  &__amount{
    font-family: 'VisbyCF-Bold';
    font-size: 14px;
    line-height: 1em;
    padding: 25px 0 20px;
  }
  &__amount-value{
    border: none;
    background-color: transparent;
  }
  &__currency{
    display: inline;
    font-family: 'VisbyCF-DemiBold';
    font-size: 14px;
    line-height: 1em;
  }
  &__currency-exchange{
    color: #B1B1B1;
  }
  &__range{
    background-color: $normal;
    position: absolute;
    height: 100%;
  }
}